*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.navbar {
position: absolute;
top:0;
left:0;
display:flex;
width:100%;
height: 80px;
justify-content: space-between;
padding:20px;
background-color:#9CB071;
font-size:19px;
}
.navbar a{
text-decoration:none;
color: black;
font-size:21px;
}
ul {
list-style:none;
}
.nav-links {
display:flex;
align-items: center;
}
.nav-links li {
margin: 0 30px;
}
h1{
position:relative;
margin-top:58px;
font-size:54px;
text-align: center;
margin-left:30px;
margin-bottom:13px;
font-family:"Luminari",fantasy;
}
p{
font-size:38px;
margin-left:47px;
font-weight:500;
margin-bottom:10px;
}