*{
margin: 0;
padding: 0;
box-sizing: border-box;
transition: .2s linear;
font-family: "Poppins",sans-serif;
}
:root{
    
    --text-color:#fff;
    --main-color:#29fd53;
}
body{
   min-height: 100vh;
   background: white; 
margin: 0;
padding: 0;
justify-content: center;
align-items: center;
background: #fff;
  
   
}
.wrapper{
    
   
    margin: 10px -250px;
    padding: 0 10%;
    padding-bottom: 100px;
    text-transform: capitalize;
}
h1{
    color: black;
    font-size: 45px;
    padding-bottom: 15px;
    text-align: center;
    text-shadow: 0 15px 10px rgba(0,0,0,0.2);
}
.conatiner{
display: flex;
flex-wrap: wrap-reverse;


}
.box{
    height: 800x;
    padding: 60px;
    text-align: center;
    border-radius: 50px;
    box-shadow: px 5px 10px rgba(0,0,0,0.2);
}
.box img{
    height:150px;
}
.box h3{
    color:#29fd53;
    padding: 10px 0;
    font-size: 20px;
    text-align: center;
}
.box p {
    color:#29fd53;
    font-size: 14px;
    line-height: 1.6;
}
.btn{
    
    color:white;
    border: 5px;
    outline: none;
    font-size: 25px;
    margin-top: 10px;
    padding: 8px 50px;
    background: black;
    border-radius: 50px;
    
}


header{
    position: fixed;
    width: 100%;
    top:0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 12%;
    transition: all .50s ease;
}
.logo{
    display: flex;
    align-items: center;
    height: 35px;
   
}
.logo i {
    margin-right: 3px;
    height: 80px;

}

.navbar {
position: absolute;
height: 80px;
top:0;
left:0;
display:flex;
width:100%;
justify-content: space-between;
padding:20px;
background-color:#F5F5DC;
font-size:10px;
}
.navbar a{
text-decoration:none;
color: black;
font-size:25px;
font-weight: 500;
padding: 5px 0;
margin: 0px 30px;
transition: all .15s ease;
}
.navbar a:hover{
color:var(--main-color);
}
.navbar a.active{
    color:var(--main-color);
}

ul {
list-style:none;
}
.nav-links {
display:flex;
align-items: center;

}
.nav-links li {
margin: 0 30px;
}


.main {
display:flex;
align-items: center;
position:relative;
background-image: url("1.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
width:100vw;
height:92vh;
margin-top:58px;
}
.main h1{
    color:burlywood;
font-size:54px;
margin-left:17px;
margin-bottom:-400px;
font-family:"Luminari",fantasy;
}
.main p{
font-size:40px;
margin-left:47px;
font-weight:630;
margin-bottom:150px;
}

.function p{
background-color:white;
font-style: italic;
font-size:50px;
text-align:center;
font-family:"Luminari",fantasy;
}

.tab {
width:100%;
height: auto;
display:flex;
flex-direction:row;
justify-content: space-around;
flex-wrap:wrap;
padding: 10px;
margin-top:20px;

}

.box{
width:29%;
height:270px;
box-sizing:border-box;
margin:20px;
background:white;
font-size:45px;
text-align:center;
line-height:55px;

}

.abcon{
display:flex;

}

.abcon img{
border:1px solid lightgrey;
}

.abcon p{
font-size:30px;
margin-left:80px;
}
.abtex p{
background-color:white;
font-size:50px;
border:1px solid lightgray;
text-align:center;
font-family:"Luminari",fantasy;
margin-top:10px;
}

.wrapcd{
width:1000px;
margin:auto;
margin-top:50px;
}
.card{
transition:0.4s;
width:300px;
background:white;
text-align:center;
font-size:20px;
font-family:sans-serif;
float:left;
margin:10px;
}

.slider{
    width: 1300px;
    height: 1000px;
    border-radius: 10px ;
    overflow: hidden;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
}
.slides{
    width: 500%;
    height: 1000px;
    display: flex;
}
.slides input{
display: none;
}
.slide{
    width:20%;
    transition: 2s;
}
.slide img{
    width: 1300px;
    height: 1000    px;
}
.navigation-manual{
position: absolute;
width: 1300px;
margin-top: -160px;
display: flex;
justify-content: center;
}

.manual-btn{
    border: 2px solid black;
    padding: 10px;
    border-radius: 40px;
    cursor: pointer;
    transition: 1s;

}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background: #29fd53;
}
#radio1:checked ~.first{
    margin-left: 0;
}
#radio2:checked ~.first{
    margin-left: -20%;
}
#radio3:checked ~.first{
    margin-left: -40%;
}
#radio4:checked ~.first{
    margin-left: -60%;
}


.container{
padding:2px 16px;
}

.contain{
width: 100%;
height: 100;
display: flex;
align-items: center;
justify-content: center;
}
.Message-icon{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.Message-icon i{
    font-size: 40px;
}
.Message-icon span{
    font-size: 22px;
    font-weight: bold;
    margin-left: 15px;
}
form input, textarea{
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000;
    outline: none;
}

#input-field {
padding-bottom: 20px;
display: flex;
align-items: center;
}

#input-field i {
    font-size: 22px;
    margin-right: 15px;
}
.send-btns{
width: 100%;
border: none;
background: #000;
color: #fff;
font-size: 16px;
padding: 6px 0;
border-radius: 50px;

}
.form-group{
width:100%;
margin-top:20px;
font-size:20px;
}
.form-group input,
.form-group textarea {
width:100%;
padding:5px;
font-size:10px;
border:1px solid grey;
margin-top:5px;
}
textarea {
resize:vertical;
}
button[type="submit"] {
width:100%;
padding:17px;
font-size:25px;
margin-top:10px;
text-align:center;
}


.contacts {
width:auto;
background-color:white;
margin-top:30px;
}
.conttx{
font-size:26px;
display: inline-block;
text-align:center;
padding-left:110px;
margin-top:20px;
margin-bottom:20px;

}
.quest{
align-items: center;
position:relative;
text-align:center;
}
.quest h1{
font-size:53px;
margin-left:47px;
margin-bottom:-40px;
margin-top:0px;
text-align:center;
font-family:"Luminari",fantasy;
}
.questb{
display:inline-block;
font-size: 40px;
color: white;
padding: 10px;

text-align:center;
text-decoration:none;
background-color: black;
border: 2px solid black;

margin: 0 auto;
display: block;
}

footer{
    background-color: white;

}
.footerContainer{
     width: 100%;
     padding: 70px 30px 20px;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding: 60px;
    background-color: #fff;
    margin: 10px;
    border-radius: 100%;

}
.socialIcons a i{
font-size: 2em;
color: #000;
opacity: 0.9;
}
.socialIcons a:hover{
transition: 0.5s;

}
.socialIcons a:hover i{
color:blue;
transition: 0.5s;

}
.footerBottom{
    background-color: white;
padding: 20px;
text-align: center;
}
.footerBottom p {
    color:blue;

}
.w3-content {display: flex;}
.w3-btn,.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}

.w3-display-left{position:absolute;top:330%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.w3-display-right{position:absolute;top:330%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.w3-black,.w3-hover-black:hover{color:#fff!important;background-color:#000!important}

